@tailwind base;
@tailwind components;
@tailwind utilities;





.slick-track {
    display: flex !important;
}

.slick-slide {
    height: inherit !important;
}
.slide {
 

  
}

.slick-slide > div{
    height: 100%;
}