@tailwind base;
@tailwind components;
@tailwind utilities;





.slick-track {
    display: flex !important;
}

.slick-slide {
    height: inherit !important;
}


.slick-slide > div{
    height: 100%;
    
}

.chart-seonator{
    /* height:100vh !important */
}